In [1]:
pip install "pymongo[srv]"

Requirement already satisfied: pymongo[srv] in /usr/local/python/3.12.1/lib/python3.12/site-packages (4.10.1)
WARNING: pymongo 4.10.1 does not provide the extra 'srv'
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from pymongo[srv]) (2.7.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.0.37)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/python/3.12.1/lib/python3.12/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /home/codespace/.local/lib/python3.12/site-packages (from sqlalchemy) (4.12.2)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in /usr/local/python/3.12.1/lib/python3.12/site-packages (2.2.7)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [5]:
engine= db.create_engine("mysql://root:root@127.0.0.1:3310/retail_db")
conn= engine.connect()

In [6]:
customers_df =pd.read_sql_query("select*from customers" ,con=conn)
customers_df

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725
...,...,...,...,...,...,...,...,...,...
12430,12431,Mary,Rios,XXXXXXXXX,XXXXXXXXX,1221 Cinder Pines,Kaneohe,HI,96744
12431,12432,Angela,Smith,XXXXXXXXX,XXXXXXXXX,1525 Jagged Barn Highlands,Caguas,PR,00725
12432,12433,Benjamin,Garcia,XXXXXXXXX,XXXXXXXXX,5459 Noble Brook Landing,Levittown,NY,11756
12433,12434,Mary,Mills,XXXXXXXXX,XXXXXXXXX,9720 Colonial Parade,Caguas,PR,00725
12434,12435,Laura,Horton,XXXXXXXXX,XXXXXXXXX,5736 Honey Downs,Summerville,SC,29483

In [14]:
from pymongo import MongoClient
conn_string= "mongodb+srv://lowcodeperu24:lXB7tE8Z5Upz3rk1@cluster0.dt7ro.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
client= MongoClient(conn_string)

client['sample_mflix']

Database(MongoClient(host=['cluster0-shard-00-01.dt7ro.mongodb.net:27017', 'cluster0-shard-00-02.dt7ro.mongodb.net:27017', 'cluster0-shard-00-00.dt7ro.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', appname='Cluster0', authsource='admin', replicaset='atlas-bm8v9j-shard-0', tls=True), 'sample_mflix')

In [16]:
coleccion = client['sample_mflix']['movies']
cursor_mongo=coleccion.find({})
df= pd.DataFrame(cursor_mongo)
df

,_id,plot,genres,runtime,cast,poster,title,fullplot,languages,released,...,awards,lastupdated,year,imdb,countries,type,tomatoes,num_mflix_comments,writers,metacritic
0,573a1390f29313caabcd42e8,A group of bandits stage a brazen train hold-u...,"[Short, Western]",11.0,"[A.C. Abadie, Gilbert M. 'Broncho Billy' Ander...",https://m.media-amazon.com/images/M/MV5BMTU3Nj...,The Great Train Robbery,Among the earliest existing films in American ...,[English],1903-12-01,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:27:59.177000000,1903,"{'rating': 7.4, 'votes': 9847, 'id': 439}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 2559,...",0,NaN,NaN
1,573a1390f29313caabcd446f,"A greedy tycoon decides, on a whim, to corner ...","[Short, Drama]",14.0,"[Frank Powell, Grace Henderson, James Kirkwood...",NaN,A Corner in Wheat,"A greedy tycoon decides, on a whim, to corner ...",[English],1909-12-13,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-13 00:46:30.660000000,1909,"{'rating': 6.6, 'votes': 1375, 'id': 832}",[USA],movie,"{'viewer': {'rating': 3.6, 'numReviews': 109, ...",1,NaN,NaN
2,573a1390f29313caabcd4803,"Cartoon figures announce, via comic strip ball...","[Animation, Short, Comedy]",7.0,[Winsor McCay],https://m.media-amazon.com/images/M/MV5BYzg2Nj...,"Winsor McCay, the Famous Cartoonist of the N.Y...",Cartoonist Winsor McCay agrees to create a lar...,[English],1911-04-08,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-29 01:09:03.030000000,1911,"{'rating': 7.3, 'votes': 1034, 'id': 1737}",[USA],movie,"{'viewer': {'rating': 3.4, 'numReviews': 89, '...",0,"[Winsor McCay (comic strip ""Little Nemo in Slu...",NaN
3,573a1390f29313caabcd4eaf,"A woman, with the aid of her police officer sw...","[Crime, Drama]",88.0,"[Jane Gail, Ethel Grandin, William H. Turner, ...",https://m.media-amazon.com/images/M/MV5BYzk0YW...,Traffic in Souls,NaN,[English],1913-11-24,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-09-15 02:07:14.247000000,1913,"{'rating': 6.0, 'votes': 371, 'id': 3471}",[USA],movie,"{'viewer': {'rating': 3.0, 'numReviews': 85, '...",1,NaN,NaN
4,573a1390f29313caabcd50e5,"The cartoonist, Winsor McCay, brings the Dinos...","[Animation, Short, Comedy]",12.0,"[Winsor McCay, George McManus, Roy L. McCardell]",https://m.media-amazon.com/images/M/MV5BMTQxNz...,Gertie the Dinosaur,Winsor Z. McCay bets another cartoonist that h...,[English],1914-09-15,...,"{'wins': 1, 'nominations': 0, 'text': '1 win.'}",2015-08-18 01:03:15.313000000,1914,"{'rating': 7.3, 'votes': 1837, 'id': 4008}",[USA],movie,"{'viewer': {'rating': 3.7, 'numReviews': 29}, ...",0,[Winsor McCay],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21344,573a13faf29313caabded1d6,A-Gu enlists a group of contract killers in th...,[Comedy],110.0,"[Hsiao-chuan Chang, Qian Wan, Tang Sui, Yann Y...",NaN,The Laundryman,A-Gu enlists a group of contract killers in th...,[Mandarin],2015-07-11,...,"{'wins': 0, 'nominations': 2, 'text': '2 nomin...",2015-09-15 06:14:05.163000000,2015,"{'rating': 6.3, 'votes': 27, 'id': 4801514}",[Taiwan],movie,NaN,1,NaN,NaN
21345,573a13faf29313caabded406,"Karol, an ordinary young man, runs into a much...",[Thriller],90.0,"[Filip Plawiak, Adam Woronowicz, Julia Kijowsk...",NaN,The Red Spider,"Karol, an ordinary young man, runs into a much...","[Polish, English]",2015-11-20,...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-18 00:52:59.093000000,2015,"{'rating': 7.4, 'votes': 16, 'id': 4817256}","[Poland, Czech Republic, Slovakia]",movie,NaN,0,"[Marcin Koszalka, Lukasz M. Maciejewski, Marta...",NaN
21346,573a13fbf29313caabdedf30,Guy's tragic death is a shock for the Leblanc ...,[Drama],102.0,"[Maxim Gaudette, Karelle Tremblay, Valerie Cad...",NaN,Our Loved Ones,Guy's tragic death is a shock for the Leblanc ...,[French],2015-08-12,...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-27 00:18:43.727000000,2015,"{'rating': 7.4, 'votes': 5, 'id': 4881276}",[Canada],movie,NaN,0,[Anne èmond],NaN
21347,573a13fbf29313caabdedf31,NaN,[Documentary],115.0,[Chantal Akerman],NaN,No Home Movie,NaN,[French],2015-08-10,...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-08-13 18:35:53.927000000,2015,"{'rating': 3.8, 'votes': 5, 'id': 4881016}","[Belgium, France]",movie,NaN,0,[Chantal Akerman],NaN
21348,573a13fbf29313caabdee03b,"Sex and love. Some seek it, some need it, some...","[Comedy, Drama, Romance]",91.0,"[Holly Aird, Eileen Atkins, Hugh Bonneville, T...",https://m.media-amazon.com/images/M/MV5BMTA5OT...,Scenes of a Sexual Nature,Various Londeners meet people in Hampstead Hea...,[English],NaT,...,"{'wins': 0, 'nominations': 1, 'text': '1 nomin...",2015-09-12 09:51:28.903000000,2006,"{'rating': 6.1, 'votes': 4125, 'id': 475380}",[UK],movie,"{'website': 'http://www.tinpanfilms.com/', 'vi...",0,[Aschlin Ditta],NaN