In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
engine= create_engine("mysql://root:root@127.0.0.1:3310/retail_db")

In [6]:
customers=pd.read_sql_table('customers',engine)
departments=pd.read_sql_table('departments',engine)
categories=pd.read_sql_table('categories',engine)
products=pd.read_sql_table('products',engine)
orders=pd.read_sql_table('orders',engine)
order_items=pd.read_sql_table('order_items',engine)

In [7]:
# la distribucion de clientes por estado
#cuantos clientes hay por cada ciudad
customers['customer_city'].value_counts()
# cuantas categorias existen dentro de cada departamento

customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [9]:
producto_caro =products.loc[products['product_price'].idxmax()]
producto_caro

product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object